pokemon_to_notion_workflow.json
{
  "name": "Pokemon to Notion - Pikachu",
  "nodes": [
    {
      "parameters": {},
      "id": "d9b7f9e0-1234-4567-89ab-cdef12345678",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://pokeapi.co/api/v2/pokemon/pikachu",
        "options": {}
      },
      "id": "a1b2c3d4-5678-90ab-cdef-1234567890ab",
      "name": "Get Pokemon - Pikachu",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "notes": "PokeAPI에서 피카츄 데이터를 가져옵니다"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "pokemon_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "hp",
              "value": "={{ $json.stats[0].base_stat }}",
              "type": "number"
            },
            {
              "id": "3",
              "name": "attack",
              "value": "={{ $json.stats[1].base_stat }}",
              "type": "number"
            },
            {
              "id": "4",
              "name": "defense",
              "value": "={{ $json.stats[2].base_stat }}",
              "type": "number"
            },
            {
              "id": "5",
              "name": "special_attack",
              "value": "={{ $json.stats[3].base_stat }}",
              "type": "number"
            },
            {
              "id": "6",
              "name": "special_defense",
              "value": "={{ $json.stats[4].base_stat }}",
              "type": "number"
            },
            {
              "id": "7",
              "name": "speed",
              "value": "={{ $json.stats[5].base_stat }}",
              "type": "number"
            },
            {
              "id": "8",
              "name": "types",
              "value": "={{ $json.types.map(t => t.type.name).join(', ') }}",
              "type": "string"
            },
            {
              "id": "9",
              "name": "weight",
              "value": "={{ $json.weight }}",
              "type": "number"
            },
            {
              "id": "10",
              "name": "height",
              "value": "={{ $json.height }}",
              "type": "number"
            },
            {
              "id": "11",
              "name": "image",
              "value": "={{ $json.sprites.front_default }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-6789-01ab-cdef-234567890abc",
      "name": "Format Pokemon Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [650, 300],
      "notes": "피카츄 데이터를 Notion 형식으로 변환합니다"
    },
    {
      "parameters": {
        "resource": "page",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DATABASE_ID",
          "mode": "id"
        },
        "title": "={{ $json.pokemon_name }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Name",
              "textContent": "={{ $json.pokemon_name }}"
            },
            {
              "key": "HP",
              "numberValue": "={{ $json.hp }}"
            },
            {
              "key": "Attack",
              "numberValue": "={{ $json.attack }}"
            },
            {
              "key": "Defense",
              "numberValue": "={{ $json.defense }}"
            },
            {
              "key": "Special Attack",
              "numberValue": "={{ $json.special_attack }}"
            },
            {
              "key": "Special Defense",
              "numberValue": "={{ $json.special_defense }}"
            },
            {
              "key": "Speed",
              "numberValue": "={{ $json.speed }}"
            },
            {
              "key": "Types",
              "multiSelectValue": "={{ $json.types.split(', ') }}"
            },
            {
              "key": "Weight",
              "numberValue": "={{ $json.weight }}"
            },
            {
              "key": "Height",
              "numberValue": "={{ $json.height }}"
            },
            {
              "key": "Image",
              "urlValue": "={{ $json.image }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-7890-12ab-cdef-34567890abcd",
      "name": "Add Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [850, 300],
      "notes": "Notion 데이터베이스에 피카츄 페이지를 추가합니다",
      "credentials": {
        "notionApi": {
          "id": "1",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Get Pokemon - Pikachu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pokemon - Pikachu": {
      "main": [
        [
          {
            "node": "Format Pokemon Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Pokemon Data": {
      "main": [
        [
          {
            "node": "Add Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-07T00:00:00.000Z",
  "versionId": "1"
}
